---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
---

<BaseLayout title="About | Joshua May" description="About Josh May">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/subjectMatterExpert.png"
					alt="Joshua working"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						A modern swiss army knife of a developer 
					</p><br>
					<p>
						Experience ranging from full stack development, working across multiple industries in both the goverment health care space and popular award winning brands, Josh May has a sprawling resume filled with vital experience and growth points in his career. The opportunity to work in client facing roles, work closely with senior level executives, and be a part of some major digital and development transformations across multiple industries really develops your sense of what your project's future can look like.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>University of South Carolina, Class of 2013</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<div class="roles">
						<Pill><Icon icon="code" size="1.33em" /> Skills</Pill>
						<Pill><Icon icon="code" size="1.33em" /> JavaScript</Pill>
						<Pill><Icon icon="code" size="1.33em" /> React.js</Pill>
						<Pill><Icon icon="code" size="1.33em" /> Vue.js</Pill>
						<Pill><Icon icon="code" size="1.33em" /> Angular.js</Pill>
						<Pill><Icon icon="code" size="1.33em" /> API Development</Pill>
						<Pill><Icon icon="code" size="1.33em" /> Tailwind</Pill>
						<Pill><Icon icon="code" size="1.33em" /> Bootstrap</Pill>
						<Pill><Icon icon="code" size="1.33em" /> Java</Pill>
						<Pill><Icon icon="code" size="1.33em" /> C#</Pill>
						<Pill><Icon icon="code" size="1.33em" /> Azure Dev Ops</Pill>
						<Pill><Icon icon="code" size="1.33em" /> AWS</Pill>
						<Pill><Icon icon="code" size="1.33em" /> Firebase</Pill>
						<Pill><Icon icon="code" size="1.33em" /> Docker</Pill>
						<Pill><Icon icon="git" size="1.33em" /> Git</Pill>
						<Pill><Icon icon="code" size="1.33em" /> Jenkins</Pill>
						<Pill><Icon icon="code" size="1.33em" /> CI/CD Pipelines</Pill>
						<Pill><Icon icon="code" size="1.33em" /> Fortify</Pill>
						<Pill><Icon icon="code" size="1.33em" /> Enterprise Architecture</Pill>
					</div>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
