---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---

<aside>
	<h2>Got any great Tech ideas that can't wait, NY Rangers banter, maybe a hot take on your favorite Prem or La Liga team?</h2>
	<CallToAction href="mailto:jmayprofessional@gmail.com">
		Send me an email.
		<Icon icon="email" size="1.2em" />
	</CallToAction>
	<CallToAction href="https://www.linkedin.com/in/joshuamaydevelopment">
		Be professional with me on LinkedIn.
		<Icon icon="linkedin" size="1.2em" />
	</CallToAction>
	<CallToAction href="https://steamcommunity.com/profiles/76561199052090915/">
		Rip some games with me on Steam.
		<Icon icon="steam" size="1.2em" />
	</CallToAction>
</aside>

<style>
	aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		border-top: 1px solid var(--gray-800);
		border-bottom: 1px solid var(--gray-800);
		padding: 5rem 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	h2 {
		font-size: var(--text-xl);
		text-align: center;
		max-width: 25ch;
	}

	@media (min-width: 50em) {
		aside {
			padding: 7.5rem;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		h2 {
			font-size: var(--text-3xl);
			text-align: left;
		}
	}
</style>
