---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="stack" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>With a background working on commercial grade development projects for a series of different Department of Defense clients, my skill set ranges from modern front-end libraries, frameworks, tool kits, and spans to SQL and modern back end languages.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="compass" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Architecture</h2>
		<p>Experience providing modern solutioning efforts ranging from 4+1 view models, LOE estimations, employing modern techniques from major GovCloud services such as Azure and Amazon Web Services, and researching the latest and greatest tools to give our clients the edge the need.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strategy-Minded</h2>
		<p>Whether it's working with large commercial grade monoliths on their journey to converting to micro services, Major SharePoint migrations spanning multiple versions, my promise to my client is that I'll put forth the best possible solution each and every time to best support their needs now, and in the future.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
